.statsContainer {
    width: 100%;
    height: 23%;
    margin-bottom: 10%;
    align-content: center;
    justify-content: center;
}

.statsImage {
    object-fit: fill;
    max-height: 100%;
    max-width: 90%;
}

.characterImageContainer {
    height: 100%;
    width: 30%;
}