.inputField {
    margin-top: 5%;
    margin-bottom: 5%;
    width: 80%;
}

.entireScreen {
    background-color: black;
    height: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin-top: 0%;
}

.imageContainer {
    justify-content: center; 
    align-items: center;
    margin: auto;
    width: 100%;
    height: 20%;
    margin-bottom: 0px;
}

.signUpImage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    object-fit: fill;
}

.inputField {
    color: white;
    margin-top: 5%;
    margin-bottom: 5%;
    width: 80%;
}

.form {
    margin-left: auto;
    margin-right: auto;
    margin-top: 0%;
    background-color: #18191c;
}