.basic-box{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 10%;
    background-color: #666699;
    width: 100%;
    box-shadow: 12;
}

.logoPicture{
    object-fit: cover;
    height: 13vh;
    max-height: 100%;
    width: 20vh;
}

.logoPicture:hover{
    cursor:pointer;
}

.logo-box{
    display:flex;
    align-items: center;
    justify-content: flex-stat;
}

.nav-button{
    color: white;
    background: white;
}

.nav-button:hover{
    color: orange
}