.imgcontainer {
    width: 60%;
    height: 100vh;
}

.inputFields {
    margin-top: 5%;
    margin-bottom: 5%;
    width: 100%;
}

.submitButton {
    width: 60%;
    height: 10%;
    font-size: 20px;
}