.signUpImage {
    max-height: 100%;
    max-width: 70%;
    object-fit: cover;
    margin: 0;
    padding: 0;
}

.signUpPageCont {
    max-height: 80vh;
}

.inputFields {
    margin-top: 30%;
    margin-bottom: 40%;
    width: 100%;
}

.submitButton {
    width: 60%;
    height: 10%;
    font-size: 20px;
}
