.basic-box{
    height:100%;
    width:100%
}

.basic-box-centered{
    height:100%;
    width:100%;
    justify-content: center;
    align-items: center;
}

.page-container{
    height:100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding:1.5%
}